#game-character {
    width: 180px;
    height: 138px;
    position: absolute;
    z-index: 6000;
}

.bordo {
    border: 2px solid red !important;
}

.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}